fastapi>=0.68.0
pymssql>=2.1.5
dotenv>=0.10.5
Pillow>=8.0.0
uvicorn>=0.14.0
langchain-core>=0.0.1
langchain-google-genai>=0.0.1
langchain-openai>=0.0.1
langchain-chroma>=0.0.1
langchain-text-splitters>=0.0.1
langchain-community>=0.0.1
line-bot-sdk>=1.19.0
Chroma>=0.0.1
PyPDF2>=1.26.0
azure-ai-embed>=1.0.0
azure-storage-blob>=12.0.0